<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="KMPages/kmComponent/kmConfig :: kmConfig"></th:block>
</head>
<body>
<div th:replace="KMPages/kmComponent/kmHeader"></div>
<div th:replace="KMPages/kmComponent/kmNav"></div>
<div id="section">
    <h2>km member saveForm.html</h2>
    <form action="/kmMember/save" method="post" enctype="multipart/form-data">
        <input type="text" name = "memberEmail" placeholder="이메일">
        <input type="text" name = "memberPass" placeholder="비밀번호">
        <input type="text" name = "memberName" placeholder="이름">
        <input type="text" name = "memberMobile" placeholder="전화번호">
        <input type="date" name = "memberBirth">
        <input type="file" name="memberFile" class="form-control" >
        <input type="submit"  value="회원가입">

    </form>
</div>
<div th:replace="KMPages/kmComponent/kmFooter"></div>

</body>
</html>