<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header">
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/YHPages" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="/YHPages"></use>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/yhBoard" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#speedometer2"></use>
                                </svg>
                                Board
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search"></form>
                <div th:if="${session.loginDTO == null}" class="text-end">
                    <input onclick="loginBtn()" type="button" class="btn btn-light text-dark me-2" value="Login">
                    <input onclick="signUpBtn()" type="button" class="btn btn-primary" value="Sign-up">
                </div>
                <div th:unless="${session.loginDTO == null}" class="text-end">
                    <span th:text="${session.loginDTO} + '님 환영합니다'"></span>
                    <input onclick="logOutBtn()" type="button" class="btn btn-light text-dark me-2" value="Log Out">
                    <input onclick="myPage()" type="button" class="btn btn-primary" value="MyPages">
                </div>
            </div>
        </div>
        <script>
            const myPage = () => {
                location.href = "/yhMember/myPage";
            }
            const loginBtn = () => {
                location.href = "/yhMember/login";
            }
            const logOutBtn = () => {
                location.href = "/yhMember/logOut";
            }
            const signUpBtn = () => {
                location.href = "/yhMember/save";
            }
        </script>
    </header>
</th:block>
</body>

</html>