<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="nav" id="nav">
    <ul>
        <li>
            <a href="/">
                <i class="bi bi-house"></i>
            </a>
        </li>
        <li class="navMenu" id="navMenu1">
            <a href="/kmMember/save">회원가입</a>
        </li>
        <li class="navMenu" id="navMenu2">
            <a href="/kmMember/login">로그인</a>
        </li>
        <li class="navMenu" id="navMenu3">
            <a href="/kmMember/list">회원목록</a>
        </li>
        <li class="navMenu" th:if="${session.loginEmail != null}" id="navMenu4">
            <a href="/kmBoard/boardPaging" style="color: white;">페이징</a>
        </li>

        <li class="login-area" id="login-area">
        </li>

    </ul>
</div>

</body>
<script th:inline="javascript">
    const navMenu1 = document.getElementById("navMenu1");
    const navMenu2 = document.getElementById("navMenu2");
    const navMenu3 = document.getElementById("navMenu3");
    const loginArea = document.getElementById("login-area");
    const loginEmail = [[${session.loginEmail}]];
    console.log(loginEmail);
    if (loginEmail.length != 0) {
        loginArea.innerHTML = "<a href='/kmMember/mypage' style='color: white;'>" + loginEmail + "님 페이지가기</a>" +
            "<a href='/kmMember/logout' style='color: orange'>logout</a>";
        navMenu1.innerHTML = "<a href='/kmBoard/save' style = 'color: yellow;'>글쓰기</a>";
        navMenu2.innerHTML = "<a href='/kmBoard/myBoard' style = 'color: yellow;'>내글보기</a>";
        navMenu3.innerHTML = "<a href='/kmBoard/boardList' style = 'color: yellow;'>글목록</a>";
    } else {
        loginArea.innerHTML = "<a href='/login'>login</a>";
    }
</script>
</html>