<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="SWPages/component/config"></th:block>
</head>
<body>
<div th:replace="SWPages/component/header :: header"></div>
<div th:replace="SWPages/component/nav :: nav"></div>
<div id="section">
    <div th:if="${session.loginEmail != null and session.loginEmail.length() != 0}">
        <a href="/sw/member/mypage">MyPage</a>
        <a href="/sw/member/logout">로그아웃</a>
    </div>
    <div th:unless="${session.loginEmail != null and session.loginEmail.length() != 0}">
        <a href="/sw/member/save">회원가입</a>
        <a href="/sw/member/login">로그인</a>
        <a href="/sw/member/list">글 목록</a>
    </div>
</div>
<div th:replace="SWPages/component/footer :: footer"></div>
</body>
</html>