<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>indexform</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<section style="background-color: palegoldenrod;height: 100vh;">
    <div style="padding-top: 5%;display: flex;justify-content: center">
        <div style="width: 1500px;height: 700px; display:table;">
            <div style="display:table-cell;background-color: white;width: 412px;border-radius:30px 0 0 30px;">
                <div style="position: relative;">
                    <span style="position: absolute;font-size: 100px;font-weight: bold;top: 250px;right: 35px;">Git test</span>
                </div>
            </div>
            <div style="display:table-cell;background-color:darkslateblue;border-radius: 0 30px 30px 0;position: relative;">
                <div style="width: 960px;">
                    <span style="color: white;font-size: 100px;position: absolute;right: 450px;">공용</span>
                    <ul style="position: absolute;top: 190px;left: 100px;font-size: 50px;">
                        <li style="background-color: wheat;width: 500px;margin: 10px;"
                        ><a href="/YHPages" style="padding-left: 10px;">윤하♥</a></li>
                        <li style="background-color: palevioletred;width: 300px;margin: 10px;"><a href="/HSPages" style="padding-left: 10px;">호섭☆</a></li>
                        <li style="background-color: palegreen;width: 450px;margin: 10px;"><a href="/KMPages" style="padding-left: 10px;">광명♡</a></li>
                        <li style="background-color: cornflowerblue;width: 350px;margin: 10px;"><a href="/SWPages" style="padding-left: 10px;">신욱♠</a></li>
                        <li style="background-color: lightgreen;width: 400px;margin: 10px;"><a href="/JYPages" style="padding-left: 10px;">지윤★</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>