<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/YHPages/yhComponent/yhConfig :: config"></th:block>
</head>
<th:block th:replace="/YHPages/yhComponent/yhHeader :: header"></th:block>
<body>
<table class="table table-hover">
    <tr class="table-dark">
        <th>번호</th>
        <td th:text="${yhBoard.id}"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td th:text="${yhBoard.boardTitle}"></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td th:text="${yhBoard.boardWriter}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${yhBoard.boardContents}"></td>
    </tr>
    <tr>
        <th>조회수</th>
        <td th:text="${yhBoard.boardHits}"></td>
    </tr>
    <tr th:if="${yhBoard.fileAttached == 1}">
        <th>이미지</th>
        <td th:each="fileName: ${yhBoard.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
        </td>
    </tr>
</table>
</body>
</html>