<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="KMPages/kmComponent/kmConfig :: kmConfig"></th:block>
</head>
<body>
<div th:replace="KMPages/kmComponent/kmHeader"></div>
<div th:replace="KMPages/kmComponent/kmNav"></div>
<div id="section">
    <h2>boardSave.html</h2>
    <form action="/KmBoard/save" method="post" enctype="multipart/form-data">
        <input type="text" name="boardTitle" placeholder="제목">
        <input type="text" name="boardWriter" readonly th:value="${session.loginEmail}">
        <textarea cols ="20" rows="30" name="boardContents">내용입력</textarea>
        <input type="file" name="boardFile" class="form-control" multiple>
        <input type="submit" th:value="글저장">
    </form>
</div>
<div th:replace="KMPages/kmComponent/kmFooter"></div>

</body>
</html>