* {
    margin: 0;
    padding: 0;
}

/*a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

ul {
    list-style: none;
}
#header{
    background-color: #0a3622;
    color: white;
    text-align: center;
}

#nav {
    /*display: flex;*/
    /*display: inline;*/
    padding: 10px 100px;
    background-color: #363945;
    font-weight: bold;
    /*width: 800px;*/
    height: 50px;
    /*justify-content: center;*/
    /*align-items: center;*/
    font-family: 'Noto Sans KR', sans-serif;
}
#nav ul {
    margin: 0px;
}
#nav li {
    float: left;
}

#footer{
    background-color: #0b5ed7;
    color: white;
    text-align: center;


}
#baseMenu{
    text-align: center;

}
