<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="SWPages/component/config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="SWPages/component/header :: header"></div>
<div th:replace="SWPages/component/nav :: nav"></div>
<div id="section">
<div class="container">
     <h2 style="text-align: center">회원가입</h2>
    <form action="/sw/member/save" method="post" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="member-email" name="memberEmail" placeholder="name@example.com" onblur="email_check()">
            <label for="member-email">Email</label>
            <span id="email-bottom"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="member-password" name="memberPassword">
            <label for="member-password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="member-name" name="memberName">
            <label for="member-name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="member-mobile" name="memberMobile">
            <label for="member-mobile">전화번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="member-birth" name="memberBirth">
            <label for="member-birth">생년월일</label>
        </div>
        <div class="form-floating mb-3">
            <input type="file" class="form-control" id="member-file" name="swMemberFile">
            <label for="member-file">프로필사진</label>
        </div>
        <input type="submit" id="submit-button" disabled="disabled" class="btn btn-primary" value="회원가입">
        <input type="button" class="btn btn-danger" value="뒤로" onclick="back()">

    </form>
</div>
</div>
<div th:replace="SWPages/component/footer :: footer"></div>
</body>
<script>
    const back = () => {
        history.back();
    }
    const email_check = () => {
        const typingEmail = document.getElementById("member-email").value;
        axios({
            method: "post",
            url: "/sw/email_check",
            data: {
                memberEmail: typingEmail
            }
        }).then(res => {
            document.getElementById("submit-button").disabled = false;
            alert("이메일 사용 가능")
        }).catch(err => {
            document.getElementById("submit-button").disabled = true;
            alert("중복된 이메일입니다")
        });
    };
</script>

</html>
