<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <tr th:if="${member.fileAttached == 1}">
    <th>image</th>
    <td>
      <img th:src="@{|/upload/${member.storedFileName}}" width="200" height="200" alt="">
    </td>
  </tr>
  <tr>
    <th>id</th>
    <td th:text="${member.id}"></td>
  </tr>
  <tr>
    <th>email</th>
    <td th:text="${member.memberEmail}"></td>
  </tr>
  <tr>
    <th>name</th>
    <td th:text="${member.memberName}"></td>
  </tr>
  <tr>
    <th>mobile</th>
    <td th:text="${member.memberMobile}"></td>
  </tr>
  <tr>
    <th>birth</th>
    <td th:text="${member.memberBirth}"></td>
  </tr>
</table>
<button onclick="mypage_back()">뒤로</button>
</body>
<script>
    const mypage_back = () => {
      location.href = "/jy/member/main";
    }
</script>
</html>