<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="KMPages/kmComponent/kmConfig :: kmConfig"></th:block>
</head>
<body>
<div th:replace="KMPages/kmComponent/kmHeader"></div>
<div th:replace="KMPages/kmComponent/kmNav"></div>
<div id="section">
    <div id="baseMenu">
        <a href="/kmMember/save">회원가입</a>
        <a href="/kmMember/login">로그인</a>
        <a href="/kmMember/list">회원목록</a>
    </div>
</div>
<div th:replace="KMPages/kmComponent/kmFooter"></div>

</body>
</html>